.wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 9.6rem;
}

.left-group, 
.right-group {
    width: 480px;
}

.left-group {
    position: relative;

    .image {
        border-radius: .8rem;
    }

    .card {
        position: absolute;
        right: 0;
        bottom: -4rem;
        width: 198px;
    }
}

.right-group {
    .title {
        margin-bottom: 3.2rem;
    }

    .descrition {
        padding-right: 6.4rem;
        margin-bottom: 4.8rem;
    }

    .button {
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--white);
        padding: 1.6rem 3.2rem;
        border-radius: 0.4rem;
        font-size: var(--normal-font-size);
        transition: .3s;

        &:hover {
            background-color: var(--primary-color-alt);
        }
    }
}

@media (max-width: 1080px) {
    .wrapper {
        column-gap: 2.4rem;
    }

    .left-group {
        width: 350px;

        .image {
            width: 90%;
        }
        
        .card {
            bottom: 0;
            width: 180px;
            padding: 1.6rem 1.2rem;
        }
    }
}

@media (max-width: 767px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 5rem;
    }

    .left-group, 
    .right-group {
        width: 90%;
    }

    .right-group {
        .descrition {
            padding-right: 0;
        }
    }
    
}