.logo-group {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    gap: 6.4rem 12.8rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.2rem;
}

.logo {
    width: 50px;
    opacity: .4;
    transition: .3s;
}

.logo:hover {
    opacity: 1;
}

@media (max-width: 1080px) {
    .logo-group {
        grid-template-columns: repeat(3, max-content);
    }
    
    .logo {
        width: 40px;
    }
}

@media (max-width: 767px) {
    .logo-group {
        gap: 4rem;
    }
}